# General
yarn-error.log
node_modules
.DS_STORE
.vscode

# Foundry files
cache/
out/

# Avoid ignoring gitkeep
!/**/.gitkeep

# Keep the latest deployment only
broadcast/*/*/*

# Docs
docs/

# Dotenv file
.env

# Medusa
crytic-export
test/invariants/fuzz/corpus
slither_results.json